
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/site.css" />
}

<p class="trusti text-center">
  <h1 style="text-align: center;">Campus Gallery</h1>
  </p>
  <hr />

  <div class="image-container">
    <img src="assets/gmdcgate.jpg" alt="Image 1" class="gallery-image" />
    <img src="assets/kumarchat.jpg" alt="Image 2" class="gallery-image" />
    <img src="assets/mayursec.png" alt="Image 3" class="gallery-image" />

    <img src="assets/yogao.jpg" alt="Image 3" class="gallery-image" />
    <img src="assets/yogas.jpg" alt="Image 3" class="gallery-image" />
    <img src="assets/collegeimg.jpg" alt="Image 3" class="gallery-image" />
  </div>
