
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="assets/ashram_shala_school.jpg" class="mainimg" alt="" />

<hr />

<p class="trusti text-center">
    <h1 style="text-align: center;">Asharam Shala School for Stardard 1 to 7 Boys</h1>
</p>

<hr />

<div class="image-container">
    <img src="assets/errorimg.jpeg" alt="Image 1" class="gallery-image" />
    <img src="assets/errorimg.jpeg" alt="Image 2" class="gallery-image" />
    <img src="assets/errorimg.jpeg" alt="Image 3" class="gallery-image" />
</div>

<hr />

<div class="container">
    <p class="paragraph">
        Asharam Shala Information How many students are there, which year established, how many rooms are there, which
        type of facilities are provided here, who are eligible.
    </p>
</div>


