@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/site.css" />
}

<img src="./assets/mayur1.jpg" class="" alt=""  />

<div class="vertical-boxes">
    <div class="box">
        <img src="./assets/dlss-para.jpg" class="dlsspara" alt="" />
        <p>SPORT</p>
        <p>
            Mayur Education Campus, Nandana was established in 1988 by
            ________ [currently Saurashtra region of Dwarka, Gujarat].
        </p>
    </div>
    <div class="box">
        <img src="./assets/mapimg.jpg" class="mapimg" alt="" />
        <p>EVENTS </p>
        <p>
            Information About GMDC school, college, ashram shala school year of establishment and by___
        </p>
    </div>
    <div class="box">
        <img src="./assets/ashramshala.jpg" class="asshramshala" alt="" />
        <p>FACILITIES</p>
        <p>
            Information About DLSSS and Khel Mahakumbh and Student Achievement,
            Which year DLSS established
        </p>
    </div>
</div>

<div class="container">
    <p class="right-image">
        <img src="./assets/kumarchat.jpg" class="kumarchat" alt="" />
    </p>
    <p class="left-paragraph">
        
        Boys Hostel Information How many students are there, which year
        established, how many rooms are there, which type of facilities are
        provided here, who are eligible
    </p>
</div>

<div class="container">
    <p class="left-paragraph">
        
        GMDC School Information How many students are there, which year
        established, which standard, which type of facilities are provided here,
        who are eligible
    </p>
    <p class="left-image">
        <img src="./assets/gmdcschool.jpg" class="kumarchat" alt="" />
    </p>
</div>

<div class="container">
    <p class="right-image">
        <img src="./assets/collegeimg.jpg" class="kumarchat" alt="" />
    </p>
    <p class="left-paragraph">
        
        DLSS Information How many students are there, which year established,
        which standard, which type of facilities are provided here, who are
        eligible, which sports are here
    </p>
</div>

