
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/site.css" />
}

<img src="assets/mayur1.jpg" class="mainimg" alt="">

<hr />


<p class="trusti text-center">
    <h1 style="text-align: center;">GMDC School for Standard 8 to 12</h1>
</p>

<hr />


<div class="image-container">
    <img src="assets/errorimg.jpeg" alt="Image 1" class="gallery-image">
    <img src="assets/errorimg.jpeg" alt="Image 2" class="gallery-image">
    <img src="assets/errorimg.jpeg" alt="Image 3" class="gallery-image">
</div>

<hr />

<div class="container">
    <p class="paragraph">
        GMDC School Information: How many students are there, when it was established, how many rooms are there, what type
        of facilities are provided here, and who are eligible.
    </p>
</div>